
@font-face {
  font-family: AeonikPro;
  src: url('../fonts/AeonikPro-Light.otf');
}


*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: AeonikPro;

}
*::placeholder{
  color: #000;
  opacity: 1;
}
input{
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
.p-0{
  padding: 0!important;
}

.p__lr-0{
  padding-left: 0!important;
  padding-right: 0!important;
}
.container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title{
  display: block;
  width: 360px;
  font-size: 54px;
  text-align: center;
  margin-top: 78px;
}

.separator{
  margin-top: 14px;
  height: 70px;
  object-fit: contain;
}
.input-section{
  margin-top: 16px;
}
.row{
  display: flex;
  justify-content: space-between;
}
.input-col-2{
  width: 210px;
  height: 48px;
  border-radius: 74px;
  padding: 10px 38px;
  font-size: 24px;
  margin: 8px;
}
.value-input{
  border-color: black;
  text-align:center;
  /* line-height: 48px; */
  /* padding-top: 10; */
  border-width: 1px;
}
.input-col-3{
  width: 140px;
  height: 48px;
  border-radius: 74px;
  padding: 10px 38px;
  font-size: 24px;
  margin: 8px;

}
ul li{
  list-style-type: none;
}

.dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
  transform: scaleY(1);
}
.dropdown__switch:checked + .dropdown__options-filter .dropdown__filter:after {
  transform: rotate(-135deg);
}
.dropdown__options-filter {
  width: 100%;
  cursor: pointer;
}
.dropdown__filter {
  position: relative;
  display: flex;
  border: 1px solid #000;
  border-radius: 74px;
  text-transform: uppercase;
  transition: 0.3s;
  line-height: 48px;
  
}
.dropdown__filter:focus {
  border: 1px solid #000;
  outline: none;
}
.dropdown__filter::after {
  position: absolute;
  top: 45%;
  right: 20px;
  content: '';
  width: 10px;
  height: 10px;
  border-right: 2px solid #595959;
  border-bottom: 2px solid #595959;
  transform: rotate(45deg) translateX(-45%);
  transition: 0.2s ease-in-out;
}
.dropdown__filter-selected{
  width: 100%;
  text-align: center;
  line-height: 48px;
}
.dropdown__select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(152, 152, 152, 0.6);
  transform: scaleY(0);
  transform-origin: top;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  border-radius: 24px;
  z-index: 1000;
}
.dropdown__select-option {
  padding: 6px 0;
  background-color: #fff;
  transition: 0.3s;
  position: relative;
  text-align:center;
}
.dropdown__select-option::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  height: 1px;
  background-color: #000;
  z-index: 1000;
}
.dropdown__select-option:last-of-type {
  border-bottom: 0;
}
.dropdown__select-option:hover {
  background-color: #f9f9f9;
}

.modal{
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  cursor: pointer;
  
}
.notification{
  width: 360px;
  height: 180px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  border-radius: 24px;
  overflow: hidden;
}
#reset-modal{
  display: none;
}
#yes-reset-btn{
  margin-top: 8px;
  width: 64px;
  height: 32px;
  background-color: #7ed6df;
}
#yes-reset-btn:hover{
  background-color: #7ebfc5;

}
#no-reset-btn{
  margin-top: 8px;
  width: 64px;
  height: 32px;
  background-color: #e84747;
  color: #fff;
}
#no-reset-btn:hover{
  background-color: #cb3e3e;

}wwwwwwwwww

/* .modal{
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
  cursor: pointer;
}
.notification{
  width: 360px;
  height: 180px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
}
#reset-modal{
  display: none;
}
#yes-reset-btn{
  margin-top: 8px;
  width: 64px;
  height: 32px;
  background-color: #7ed6df;
}
#yes-reset-btn:hover{
  background-color: #7ebfc5;

}
#no-reset-btn{
  margin-top: 8px;
  width: 64px;
  height: 32px;
  background-color: #e84747;
  color: #fff;
}
#no-reset-btn:hover{
  background-color: #cb3e3e;

}


.container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px 0;
}
#title{
  margin: 16px 0;
}
.input-label{
  font-size: 18px;
  margin: 0 16px;
  display: inline-block;
  width: 48px;
}
.value-input{
  margin: 16px 0;
  height: 36px;
  width: 250px;
  padding: 8px 16px;
  outline: none;
  font-size: 16px;
}
.btn-section{
  display: flex;
  width: 320px;
  justify-content: center;
}
.btn{
  height: 40px;
  font-size: 20px;
  border: none;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 8px;
}
#submit-btn{
  width: 200px;
  background-color: #7ed6df;
}
#submit-btn:hover{
  background-color: #7ebfc5;
}
#reset-btn{
  width: 80px;
  background-color: #e84747;
  color: white;
}
#reset-btn:hover{
  background-color: #cb3e3e;
}
#price{
  margin: 16px 0;
}
.crew-member{
  margin: 2px 0;
}

.prediction-container{
  height: 80px;
}

.loader {
  border: 4px solid #b3adad; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  margin-top: 16px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.btn-section{
  display: flex;
  width: 320px;
  justify-content: center;
  margin-top: 16px;
}
.btn{
  width: 80px;
  height: 48px;
  font-size: 20px;
  border: none;
  color: #fff;
  border-radius: 24px;
  cursor: pointer;
  margin: 0 8px;
}
#submit-btn{
  width: 146px;
  background-color: #E80000;
}
#submit-btn:hover{
  background-color: #d42121;
}
#reset-btn{
  width: 80px;
  background-color: #333;
}
#reset-btn:hover{
  background-color: rgb(38, 37, 37);
}
#price{
  margin: 16px 0;
}
.crew-member{
  margin: 2px 0;
}

.prediction-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 433px;
  height: 50px;
  padding: 8px;
  /* text-align: center; */
  margin-top: 16px;
  border-radius: 72px;
  border: none;
}
#price{
  margin: 0;
  font-size: 24px;
}
.loader {
  border: 2px solid #b3adad; 
  border-top: 2px solid #000; 
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}
#predict-loading-ico{
  display: none;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}